{{!-- Header w/ Login / Sign up links in NavBar --}}

{{!-- Hero / Jumbotron placeholder --}}

{{!-- 
<h1 class="text-3xl text-center">Welcome to the blog!</h1>

<p class="text-center">This blog is a place to pose the existential questions you have. Log in or sign up to get started.</p>
 --}}

<!-- Jumbotron -->
<div
  class="p-12 text-center relative overflow-hidden bg-no-repeat bg-cover h-fit"
  style="
    background-image: https://unsplash.com/photos/-kxED2shuUg;
    height: 800px;
  "
>
  <div
    class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
    style="background-color: rgba(0, 0, 0, 0.6)">
    <div class="flex justify-center items-center h-full">
      <div class="text-white">
        <h2 class="font-semibold text-4xl mb-4">Welcome to the Blog for the Why People!</h2>
        <h4 class="font-semibold text-xl mb-6">This blog is a place to pose the existential questions you have.<br><br>Log in or sign up to get started.</h4>
        <br>
        <a
          class="inline-block px-7 py-3 mb-1 border-2 border-gray-200 text-gray-200 font-medium text-sm leading-snug uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
          href="/login"
          role="button"
          data-mdb-ripple="true"
          data-mdb-ripple-color="light"
          
          >Sign Up</a
        >
      </div>
    </div>
  </div>
</div>
{{#each posts as |post| }}
  <div class="card m-6">
  <header class="card-header has-background-primary">
    <p class="card-header-title is-underlined">
      {{post.title}} 
    </p>
  </header>
  <div class="card-content has-background-grey-lighter">
    <div class="content is-family-monospace">
     {{post.post_content}}
      <br>
      <br>
      <time datetime="2016-1-1">- {{user.username}}, {{format_date post.createdAt}}</time>
    </div>
  </div>
  <footer class="card-footer has-background-link-light">
    <a href="/post/{{post.id}}" class="card-footer-item">Go to Post</a>
  </footer>
  </div>
{{/each}}
